<!DOCTYPE html>
<html>

<head>
    <title>FrontierAir</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href='/static/project.css' />
    <link rel="stylesheet" href="/static/manage.css">
</head>

<body>
    <h1>FrontierAir Management System</h1>
    <h2>Check In</h2>
    <div class="row toplevel">
        <div class="col border">
            <div class="row border">
                <h2>Flight Information</h2>
                <div class="col bold center finfoil">
                    <div class="row center border">
                        <p>Flight Number</p>
                    </div>
                    <div class="row center border">
                        <p>Date Time</p>
                    </div>
                    <div class="row center border">
                        <p>From</p>
                    </div>
                    <div class="row center border">
                        <p>To</p>
                    </div>
                    <div class="row center border">
                        <p>Flight Key</p>
                    </div>
                </div>
                <div class="col center finfoir">
                    <div class="row center border">
                        <p>{{ flight['flightNum'] }}</p>
                    </div>
                    <div class="row center border">
                        <p> {{ flight['datetime'] }}</p>
                    </div>
                    <div class="row center border">
                        <p>{{ flight['from'] }}</p>
                    </div>
                    <div class="row center border">
                        <p>{{ flight['to'] }}</p>
                    </div>
                    <div class="row center border">
                        <p>{{ flight['key'] }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2>Seat & Passenger Information</h2>
                <div class="col bold center finfoil">
                    <div class="row center border">
                        <p>Seat Number</p>
                    </div>
                    <div class="row center border">
                        <p>Seat Status</p>
                    </div>
                    <div class="row center border">
                        <p>First Name</p>
                    </div>
                    <div class="row center border">
                        <p>Last Name</p>
                    </div>
                    <div class="row center border">
                        <p>Nationality</p>
                    </div>
                    <div class="row center border">
                        <p>Passport Number</p>
                    </div>
                </div>
                <div class="col center finfoir">
                    <div class="row center border">
                        <p>{{ col+1 }}:{{row+1}}</p>
                    </div>
                    <div class="row center border">
                        <p> {{ flight['Seats'][col][row]['status'] }}</p>
                    </div>
                    <div class="row center border">
                        <p>{{ flight['Seats'][col][row]['firstN'] }}</p>
                    </div>
                    <div class="row center border">
                        <p>{{ flight['Seats'][col][row]['lastN'] }}</p>
                    </div>
                    <div class="row center border">
                        <p>{{ flight['Seats'][col][row]['nationality'] }}</p>
                    </div>
                    <div class="row center border">
                        <p>{{ flight['Seats'][col][row]['passportN'] }}</p>
                    </div>
                </div>
                {% if not checked %}
                <form action="/manage/{{flight['key']}}/seat/{{col}}/{{row}}/cancel" method="GET">
                    <button style="width:100%;" type="submit" class="btn btn-danger">Cancel</button>
                </form>
                <form action="/manage/{{flight['key']}}/seat/{{col}}/{{row}}/edit" method="GET">
                    <button style="width:100%;" type="submit" class="btn btn-primary">Edit</button>
                </form>
                {% endif %}
            </div>
        </div>
        {% if not checked %}
        <div class="col border">
            <form action="/manage/{{flight['key']}}/seat/{{col}}/{{row}}/check_in" method="GET">
                <button style="width:100%;" type="submit" class="btn btn-primary">Checked Passport, Check In</button>
            </form>
        </div>
        {% endif %}
    </div>
</body>

</html>